.form {
	padding-left: 1rem; 
	margin-top: 0.75rem;
	margin-bottom: 0.75rem; 
}

.inputContainer {
	width: 100%;
	position: relative;
}

.input {
	border: 1px solid; 
	font-size: 0.875rem; 
	border-radius: 0.5rem; 
	display: block; 
	width: 100%;
	padding: 10px;
	background-color: #374151;
	border-color: #4b5563;
	color: white;
}

.button {
	position: absolute; 
	top: 0;
	border-radius: 0px 5px 5px 0px;
	right: -22px;
	display: flex;
	align-items: center;
	height: 100%;
	background-color: #0ea5e9;
	border: none;
	outline: none;
	padding: 10px;

}
